form {
  font-size: 0.9rem;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  font-size: 0.6rem;
  opacity: 75%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  background: #fff;
  border: 0.1rem solid #eee;
}

button {
  display: block;
  width: 80%;
  padding: 1rem 0;
  border-radius: 10rem;
  color: #888;
  background: #eee;
  margin: auto;
}

.contact span {
  padding-right: 0.6rem;
  color: #e0cac9;
}

form .radio-label {
  display: inline;
  margin-bottom: 0.5rem;
}

.contact-list {
  margin-top: 0.4rem;
}

.contact-label {
  padding-bottom: 10rem;
}

/* タブレット以上 */
@media screen and (min-width: 640px) {
  /* .contact-container {
    display: flex;
    justify-content: space-between;
  } */
  .contact {
    padding: 0 4rem;
  }
}
